@model WebApplication.Models.User

<div style="text-align:center">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align:center">
            <input type="submit" value="Yes" class="btn btn-primary" />
            <input value="No" class="btn btn-danger cancle" style="width:50px; margin-left:inherit" />
        </div>
    }
</div>
<script src="~/Scripts/InputValidation.js"></script>